body{margin:0;overflow:hidden;touch-action:none;background:#87CEEB;font-family:sans-serif;}

#startMenu{
  position:absolute;top:0;left:0;width:100%;height:100%;
  background:rgba(0,0,0,0.8);color:white;
  display:flex;flex-direction:column;align-items:center;justify-content:center;z-index:10;
}

#startMenu button{margin-top:20px;padding:10px 20px;font-size:20px;}

#hotbar{
  position:absolute;bottom:10px;left:50%;transform:translateX(-50%);
  display:flex;z-index:5;
}

#hotbar div{
  width:40px;height:40px;border:2px solid #555;margin:0 2px;background:#ccc;
}

#inventoryUI{
  position:absolute;top:60px;right:10px;background:#ccc;
  padding:10px;border:2px solid #555;display:none;z-index:5;
}

#toggleInventory{
  position:absolute;top:10px;right:10px;z-index:5;font-size:24px;
}

/* joystick bên trái */
#joystick{
  width:100px; height:100px; background:rgba(0,0,0,0.2); border-radius:50%; touch-action:none;
  position:absolute; bottom:60px; left:10px;
}

/* nút hành động bên phải */
#jump, #attack, #place{
  width:60px; height:60px; font-size:24px;
  position:absolute; bottom:70px; /* cách đáy 70px */
}

#jump{ right:80px; }   /* nhảy */
#attack{ right:10px; } /* đánh */
#place{ right:150px; } /* đặt/ngồi */