body{margin:0;overflow:hidden;font-family:sans-serif;}
canvas{display:block;position:absolute;top:0;left:0;}

#controls {
  position:absolute;
  bottom:10px; left:10px;
  display:flex; flex-wrap:wrap; gap:5px; z-index:1000;
}

.rightControls {
  position:absolute;
  bottom:10px; right:10px;
  display:flex; gap:5px; z-index:1000;
}

button{
  width:60px; height:60px;
  font-size:24px; border-radius:10px;
  border:none; background:rgba(255,255,255,0.6);
}

#menu{
  position:absolute;top:50%;left:50%;
  transform:translate(-50%,-50%);
}